.body{
	background-image: url("img/gray.jpg");
	background-size: 100% 100%;
}

menu{
	width:100%;
	margin-top: 10px;
	margin-bottom: 10px;
	background: transparent;
	
}

.menu ul{
    list-style-type: none;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    display: flex;
	flex-direction: line;
    font-size:13px;
    padding: 0px;
	text-decoration: none;
}

.menu ul li {
    text-align: center;
    width:100%;
	
}

.menu ul li a{
	text-decoration: none;
}

p{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 15px;
	text-align: justify;
	letter-spacing: 1px;
	color: blue;
}

.frase_rodape{
	color: rgb(6, 76, 155);
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	
}

.script_rodape{
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	font-weight: bold;
}

h1{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
}

h2{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
	color: #00009C;
}

h3{
	letter-spacing: 4px;
}

li{
	text-align: justify;
}

body{width: 1300px;		
}

.bloco_central{
	position: relative;
	margin-bottom: 8px;
}

.bloco1{
	position: relative;
	width: 49%;   /*Largura*/
	float: left;
}

.bloco2{
	position: relative;
	width: 49%;
	float: left;
}

.rodape{
	background: gainsboro;
	border-radius: 6px;
	border: 2px solid black;
	height: 100%;
	clear: both; 
	
}

table,td,th{
	border: 1px solid black;
	width: 300px;
}

#figure_index{
	max-width: 200px;
	max-height: 200px;
	float: left;
}

.forms_fale_conosco{
	position: relative;
	top: 50px;
	left: 500px;
	width: 335px;
	height: 650px;
}

#forms_top_10{
	position: relative;
	top: 20px;
	left: 550px;
	height: 650px;
}

.figure_table_size{
	max-width: 50px;
	max-height: 50px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

.cabecalho_tab{
	text-align: center;
}

#bloco_central_merc1{
	position: relative;
	margin-bottom: 8px;
	height: 200px;
}


#bloco_central_merc2{
	position: relative;
	margin-bottom: 8px;
	height: 420px;
}


#anside_merc1{
	position: relative;
	margin-bottom: 5px;
	height: 50px;
}

@media screen and (max-width: 480px){
	body{
		margin-right: 8px;
		width: 95%;
		font: normal 0.5em verdana, arial
	}

	header{
		font: normal 1.5em verdana, arial;
		padding-top: 0.5em;
        padding-bottom: 1em;
		float: left;
		width: 100%;  
    }
	
	nav{
		float: left;
		width: 100%; 
        padding-top: 0.2em;
        padding-bottom: 0.2em; 
    }

	nav ul{
        list-style-type: none;
        flex-direction: column;
    }

	.bloco_central{
		position: relative;
        width: 100%;
        text-align: center;
		font: normal 0.5em verdana, arial;
		padding-top: 1em;
        padding-bottom: 0.5em;
	}

	.bloco_central h2{
		font: normal 5.0em verdana, arial;
	}


	#figure_index{
		position: relative;
		width: 80px;
		height: 80px;
	}

	.bloco1{
		position: relative;
        width: 100%; 
        text-align: center;
		padding-top: 1em;
        padding-bottom: 1em;
	}

	.bloco2{
		position: relative;
        width: 100%; 
        text-align: center;
		padding-top: 1em;
        padding-bottom: 1em;
	}

	footer{
		clear: both;
        padding-bottom: 0.8em;
    }

	.frase_rodape{
		color: rgb(6, 76, 155);
		font-size: 1.5em;
		font-weight: bold;
		text-align: center;
		
	}

	.script_rodape{
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		font-weight: bold;
	}
}